body {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.my-alert-color {
    background-color: #ff9800; /* 更改为你喜欢的颜色 */
    color: #ffffff; /* 更改为你喜欢的颜色 */
}

.my-btn-color {
    background-color: #673ab7; /* 更改为你喜欢的颜色 */
    color: #ffffff; /* 更改为你喜欢的颜色 */
}